<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joke generator</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <main>
    <div>
      <%= joke %>
    </div>
    <button onclick="location.reload()">Generate New</button>
  </main>
</body>
</html>